requests~=2.25.1
aiohttp~=3.6.2
async_timeout
beautifulsoup4~=4.9.3
common~=0.1.2
cx_Oracle
elasticsearch~=7.9.1
Flask~=1.1.2
flask_script
jieba~=0.42.1
lxml~=4.5.2
matplotlib~=3.3.2
numpy~=1.19.2
parsedatetime
Pillow~=7.2.0
psutil~=5.7.2
pymongo~=3.11.0
pymysql~=0.10.1
python_dateutil
redis~=3.5.3
scrapy~=2.3.0
selenium~=3.141.0
SocksiPy_branch
telethon~=1.18.2
tldextract~=2.2.3
w3lib~=1.22.0
wordcloud~=1.8.0
youtube_dl

fonttools~=4.21.1
bs4~=0.0.1
pyppeteer~=0.2.2
python-dateutil~=2.8.1
stem~=1.8.0